* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: darken;
    background-color: #FAD3E7;
    color: white;
}

#title {
    text-align: center;
    margin: 40px 0 10px 0;
    color: #333;
}

#description {
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.container {
    background: #EFA3C8;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.2); 
    width: 55%;
    margin: 30px auto;
    overflow: hidden;
    padding: 40px;
    border-radius: 5px;
    color: #000000;
  
}

.container:hover {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}

#name input,
#email input,
#number input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 20px;
    font-size: 15px;
}

#dropdown {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 15px;
}

.input-radio,
.input-checkbox {
    display: inline-block;
    border: none;
    margin-right: 10px;
}

.input-div {
    margin: 20px 0;
}

label {
    margin: 10px 0;
}
.paragraph {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

#comments {
    border: none;
    padding: 10px 0 0 10px;
    width: 100%;
    min-height: 80px
}

#btn {
    text-align: center;
    margin-top: 10px;
}

#btn button {
    width: 100%;
    padding: 10px 0 10px 0;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background: #009420;
    color: white;
    cursor: pointer;
}

@media(max-width:480px) {
    textarea#comments {
        width: 50%;
    }
}